# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.user
*.unitypackage

# IDE
.vs/
.vscode/
*.swp
*.swo
*~
.idea/

# OS
.DS_Store
Thumbs.db

# Photon
.photon/
